body{
    background-color: var(--color-grey-2);
    font-family: var(--font-primary);
    color: var(--color-grey-7);
  }
  main{
    height: 100vh;
    width: 55%;
    margin: 0 auto;
  }
  img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }
  .profile__container{
    display: flex;
    justify-content: space-between;
    padding: 3rem 1rem 3.5rem 1rem;
    align-items: center;
  }
  .user__container{
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .user__name{
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
  }
  .button__change-profile{
    height: 38px;
    width: 169px;
    border-radius: 8px;  
    padding:  0 10px;
  
    background-color: #FFFFFF14;
    color: var(--color-grey-7);
    font-size: 14px;
    font-weight: 600;
  }
  .button__change-profile:hover{
   background-color: var(--color-brand-1);
   cursor: pointer;
  }
  
  .repository__container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .repository__list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .repository__item{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    padding: 0 29px;
  
    height: 243px;
    width: 381px;
    border-radius: 8px;
    border: solid 2px var(--color-grey-7);
    transition: 0.3s;
  }
  .repository__item:hover{
    background-color: var(--color-grey-1);
    transform: scale(1.06);
  }
  .repository__title{
    font-size: 20px;
    font-weight: 500;
  }
  .repository__description{
    display: flex;
    align-items: center;
    
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;  
    color: #FFFFFF99;

    height: 80px;
    overflow: auto;
    /* border: solid 1px; */
  }

  .repository__button{
    height: 28px;
    width: 93px;
    border-radius: 4px;
    padding: 0px 8px;
    background-color: var(--color-grey-2);
    font-family: var(--font-primary);
    color: var(--color-grey-7);
    border: solid 1px var(--color-grey-7);
    transition: 0.1s;
  }
  .repository__button:hover{
    cursor: pointer;
    color: var(--color-grey-7);
    background-color: var(--color-brand-2);
    border: solid 1px var(--color-brand-2);
    font-weight: 600;
    transform: scale(1.06);
  }